PATH_TO_DB=./db.json
PATH_TO_TEMPLATES=./templates
DISCORD_TOKEN=ur_discord_token
CHANNEL_ID=12123243242 # id of ur channel where bot will post announcements
FEMALE_ROLE=12312321321 # role for indicate gender of person
HOURS=10 #time when bot will announce today birthday in utc
MINS=0